* {
    font-family: 'Montserrat', sans-serif;

}


a {
    text-decoration: none;
}

.home {
    height: 100vh;
}

.humo {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.estrellas {
    position: absolute;
    top: 0;
    bottom: 0;
}

.home {
    background-image: url("/images/homeBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nave {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home .imgNave {
    position: absolute;
    bottom: 20px;

}

.home .imgNaveMovil {
    position: absolute;
    bottom: 20px;

    display: none;

}

.base {
    position: absolute;
    height: 2rem;
    background: #023047;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 3;
}


.imgMontañas {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.empresa {

    z-index: 10;
    margin-top: 138px;
}

.empresa .iconEmpresa {
    display: flex;
    color: #ffff;
    justify-content: flex-end;
}

.empresa .bx-right-arrow-alt {
    position: absolute;
    margin-top: 28px;
    font-size: 25px;
    margin-right: 17px;
}

.infoEmpresa {
    color: #89cde4;
    font-weight: 900;
    font-size: 36px;
}

.inputEmpresa {
    background: transparent;
    border: solid 1px #fd9f02;
    border-radius: 20px;
    margin-top: 16px;
    height: 47px;
}

.form-control {
    color: #fff;
}

.form-control:focus {
    color: #fff;
    background-color: transparent;
}
.row .centrarInputEmpresa {
    display: flex;
    justify-content: center;
}

.inputEmpresa::placeholder {
    color: white;
}

.imgGoKru {
    width: 100%;
}

.goKru {
    position: absolute;
    bottom: 56px;
    z-index: 10;
    left: 56px;
}

.botMovil {
    width: 124px;
    height: 65px;
}

.logoKru {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.logoKruMovil{
    display: none;
}

.redesSociales {
    position: absolute;
    flex-direction: column;
    top: 184px;
    right: 13px;
    z-index: 4;
}

img {
    max-width: 100% !important;
}
.iconSocial {
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 15px;
    text-decoration: none;
}

.bot {
    right: 0;
    position: absolute;
    z-index: 30;
    bottom: 10px;
}

.infoRobot {
    position: absolute;
    left: 37px;
    font-size: 13px;
    top: 10px;
    font-weight: 400;
    color: #023047;
}

.nube {
    position: absolute;
    bottom: 215px;
    z-index: 30;
    right: 185px;

}


.botMovil {
    display: none;
}

.iconSocial:hover {
    color: #fd9f02;
}

.kruBot {
    color: #fd9f02;
    font-weight: 900;
}

@media (max-width: 850px) {

    .botMovil {
        display: block;
        width: 124px;
        height: 65px;
    }

    .botEscritorio {
        display: none;
    }

    .nubeEscritorio {

    }

    .infoRobot {

    }

    .bot {
        bottom: 354px;
    }

    .nube {
        bottom: 414px;
        right: 51px;
    }

    .redesSociales {
        top: 443px;
        left: 13px;
    }

    .infoEmpresa {
        font-size: 29px;
    }
    .logoKru{
        display: none;
    }
    .logoKruMovil{
        position: relative;
        top: 21px;
        left: auto;
        display: initial;
        width: 37%;
    }
    nav {
        text-align: center;
    }
}

@media (max-height: 768px) {
    .empresa {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .infoEmpresa {
        font-size: 23px;
    }

    .imgNaveMovil {
        display: block !important;
    }

    .imgNave {
        display: none !important;
    }

    .empresa {
        margin-top: 54px;
    }

    .logoKru {
        position: relative;
        top: 21px;
        left: auto;
    }

}

@media (max-width: 718px) {
    .goKru {
        display: none;
    }

}


@media (max-width: 375px) {
    .bot {
        bottom: 280px;
    }

    .nube {
        bottom: 346px;
    }
    .empresa {
        margin-top: 41px;
    }
}


/** Estrellas fugaz **/

.estrellas1{
    position:absolute;
    width:6px;
    height:6px;
    border-radius:100%;
    background:white;
    margin: 90px 400px;
    animation:brillo 3s  alternate infinite;
    -moz-animation:brillo 3s  alternate infinite ;
    -webkit-animation:brillo 3s  alternate infinite;

}
.estrellas1::before{
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-radius:100%;
    background:white;
    margin: 50px -30px;
    animation:brillo 5s  alternate infinite;
    -moz-animation:brillo 5s  alternate infinite ;
    -webkit-animation:brillo 5s  alternate infinite;
}
.estrellas1::after{
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-radius:100%;
    background:white;
    margin: 0px -12px;
    animation:brillo 3s  alternate infinite;
    -moz-animation:brillo 3s  alternate infinite ;
    -webkit-animation:brillo 3s  alternate infinite;
}

.estrellas2{
    position: absolute;
    width: 13px;
    top: 68px;
    left: 500px;
    right: 0;
    height: 12px;
    border-radius: 100%;
    background: white;
    animation: auto;
    -moz-animation: brillo 3s alternate infinite;
    -webkit-animation: brillo 3s alternate infinite;
}
.estrellas2::before{
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-radius:100%;
    background:white;
    margin: 50px -30px;
    animation:brillo 5s  alternate infinite;
    -moz-animation:brillo 5s  alternate infinite ;
    -webkit-animation:brillo 5s  alternate infinite;
}
.estrellas2::after{
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-radius:100%;
    background:white;
    margin: 0px -12px;
    animation:brillo 3s  alternate infinite;
    -moz-animation:brillo 3s  alternate infinite ;
    -webkit-animation:brillo 3s  alternate infinite;
}



@-webkit-keyframes  brillo{
    0% { opacity:0.5; }
    25% { opacity:1 }
    50% {opacity:0.3;}
    75% { opacity:1; }
    100% { opacity:0.5; }
}
@-moz-keyframes  brillo{
    0% { opacity:0.5; }
    25% { opacity:1 }
    50% {opacity:0.3;}
    75% { opacity:1; }
    100% { opacity:0.5; }
}
@keyframes  brillo{
    0% { opacity:0.5; }
    25% { opacity:1 }
    50% {opacity:0.3;}
    75% { opacity:1; }
    100% { opacity:0.5; }
}

.imgNave {
    animation: temblor 0.5s;

    animation-iteration-count: infinite;
}

@keyframes temblor {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(0px, 1px) rotate(0deg); }
    20% { transform: translate(-1px, 0px) rotate(0deg); }
    30% { transform: translate(0px, -1px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(0deg); }
    50% { transform: translate(0px, 1px) rotate(0deg); }
    60% { transform: translate(-1px, 0px) rotate(0deg); }
    70% { transform: translate(0px, -1px) rotate(0deg); }
    80% { transform: translate(1px, 0px) rotate(0deg); }
    90% { transform: translate(0px, 1px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(0deg); }

}
